body{
    background-color: rgb(156, 188, 247);
}
h1,h2,p{
    text-align: center;
}
.tabela{
    border-style: solid;
    width: 220px;
    margin-left: 45%;
}
aside img{
    padding-left: 42%;;
}
form {
    background-color: rgb(94, 141, 228);
    margin:  auto;
    width: 400px;
    padding: 1em;
    border: 1px solid black;
}

footer{

    text-align: center;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    
    height:initial;
    width:100%;
}
footer img{
    padding-left:10%;
}